<launch>
    <!-- If input is 2D camera -->
	<arg name="cam_image_topic" default="/zed2/left/image_rect_color" />
	<arg name="cam_info_topic" default="/zed2/left/camera_info" />
    
	<node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" respawn="false" output="screen">
		<rosparam command="load" file="$(find kamayuc_localization)/config/alvar.yaml" />
		<remap from="camera_image"  to="$(arg cam_image_topic)" />
		<remap from="camera_info"   to="$(arg cam_info_topic)" />
    </node>
</launch>